body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background */
    margin: 0;
    user-select: none;
    cursor: url('https://github.com/antiden/macOS-cursors-for-Windows/raw/main/1.%20Sierra%20and%20newer/1.%20No%20Shadow/1.%20Normal/Normal.cur'), auto;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container img {
    display: block;
}

.image-container span {
  letter-spacing: .02em;
  color: #000000;
  text-shadow: 0.75px 0.75px 7px #B38728;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: border-box,text;
  background-image: url(https://i.imgur.com/J25iJ8k.gif), repeating-linear-gradient(90deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  background-size: 7em,10em;
  animation: refund-god-anim 3s linear infinite;
  font-family: 'Poppins',sans-serif;
}
